/*
 * Rules in this file are applied to the main app, and not to initial loader screen.
 * As such, these rules can be a bit more extensive.
 */

.loaderWrapper {
  position: absolute;
  inset: 0;

  pre {
    text-align: left;
  }
}

.appWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;

  .mainViewWrapper {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
  }

  .statusBar {
    > :first-child {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }

    height: 40px;
    flex: 0;
    display: flex;

    z-index: 19;

    /* May just be a workaround for obsolete skew. */
    margin-right: -15px;
    margin-left: -15px;

    .versionsTooltipWrapper {
      display: unset;
      flex: 1;
      text-align: right;
    }

    .versions {
     justify-self: flex-end;

     .bp4-button-text {
       display: flex;
       flex-flow: row nowrap;
       gap: 10px;
       justify-content: flex-end;
     }
    }
  }
}
