/*
 * Rules in this file are applied to the main app, and not to initial loader screen.
 * As such, these rules can be a bit more extensive.
 */

.loaderWrapper {
  position: absolute;
  inset: 0;

  pre {
    text-align: left;
  }
}

.appWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;

  .mainViewWrapper {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
  }


  .statusBar {
    height: 40px;
    flex: 0;
    display: flex;

    .versionsTooltipWrapper {
      display: unset;
      justify-self: flex-end;
    }

    .versions {
      display: flex;
      flex-flow: row nowrap;
      justify-self: flex-end;
      gap: 10px;
      justify-content: flex-end;
    }
  }
}
